In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [19]:
holidays = pd.read_csv("list-us-public-holidays-454j.csv", encoding="ISO-8859-1")
holidays

,SNo,Unnamed: 1,Date,Official Name,Remarks
0,1.0,11/11/2019,NaN,Veterans Day,NaN
1,2.0,11/28/2019,NaN,Thanksgiving Day,NaN
2,3.0,12/25/2019,NaN,Christmas,NaN
3,4.0,1/1/2020,January 1(Fixed),New Year's Day,Celebrates beginning of the Gregorian calendar...
4,5.0,1/20/2020,Third Monday in January,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ..."
5,6.0,1/20/2020,First January 20 following a Presidential elec...,Inauguration Day,Observed only by federal government employees ...
6,7.0,2/17/2020,Third Monday in February,Washington's Birthday,Washington's Birthday was first declared a fed...
7,8.0,5/25/2020,Last Monday in May,Memorial Day,Honors the nation's war dead from the Civil Wa...
8,9.0,7/4/2020,4-Jul,Independence Day,Celebrates the signing of the Declaration of I...
9,10.0,9/7/2020,First Monday in September,Labor Day,Celebrates the achievements of workers and the...
10,11.0,10/12/2020,Second Monday in October,Columbus Day,"Honors Christopher Columbus, traditional disco..."
11,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN

In [20]:
holidays.drop(holidays.tail(3).index,inplace=True)

In [21]:
holidays

,SNo,Unnamed: 1,Date,Official Name,Remarks
0,1.0,11/11/2019,NaN,Veterans Day,NaN
1,2.0,11/28/2019,NaN,Thanksgiving Day,NaN
2,3.0,12/25/2019,NaN,Christmas,NaN
3,4.0,1/1/2020,January 1(Fixed),New Year's Day,Celebrates beginning of the Gregorian calendar...
4,5.0,1/20/2020,Third Monday in January,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ..."
5,6.0,1/20/2020,First January 20 following a Presidential elec...,Inauguration Day,Observed only by federal government employees ...
6,7.0,2/17/2020,Third Monday in February,Washington's Birthday,Washington's Birthday was first declared a fed...
7,8.0,5/25/2020,Last Monday in May,Memorial Day,Honors the nation's war dead from the Civil Wa...
8,9.0,7/4/2020,4-Jul,Independence Day,Celebrates the signing of the Declaration of I...
9,10.0,9/7/2020,First Monday in September,Labor Day,Celebrates the achievements of workers and the...
10,11.0,10/12/2020,Second Monday in October,Columbus Day,"Honors Christopher Columbus, traditional disco..."

In [22]:
holidays = holidays[['Unnamed: 1', 'Official Name', 'Remarks']]
holidays.rename({'Unnamed: 1': 'Date'}, axis=1, inplace=True)
holidays

,Date,Official Name,Remarks
0,11/11/2019,Veterans Day,NaN
1,11/28/2019,Thanksgiving Day,NaN
2,12/25/2019,Christmas,NaN
3,1/1/2020,New Year's Day,Celebrates beginning of the Gregorian calendar...
4,1/20/2020,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ..."
5,1/20/2020,Inauguration Day,Observed only by federal government employees ...
6,2/17/2020,Washington's Birthday,Washington's Birthday was first declared a fed...
7,5/25/2020,Memorial Day,Honors the nation's war dead from the Civil Wa...
8,7/4/2020,Independence Day,Celebrates the signing of the Declaration of I...
9,9/7/2020,Labor Day,Celebrates the achievements of workers and the...
10,10/12/2020,Columbus Day,"Honors Christopher Columbus, traditional disco..."

In [23]:
holidays.Date = pd.to_datetime(holidays.Date)
print(type(holidays['Date'][0]))
"""# holidays.drop('Remarks', axis=1, inplace=True)
holidays['Year'] = holidays.Date.dt.year
holidays['Month'] = holidays.Date.dt.month
holidays['Day'] = holidays.Date.dt.day
holidays"""
holidays
holidays[holidays['Date'] == "2019-12-25"]

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

        Date Official Name Remarks
2 2019-12-25     Christmas     NaN

In [24]:
vacations = {'Spring Break': pd.date_range('4/6/2020', '4/10/2020'), 'Summer Vacation': pd.date_range(start='6/18/2020', end='9/3/2020')}
# print(vacations)

# for date in pd.date_range('12/1/2019', '12/1/2020'):
#     print(type(date))
for desc, hols in vacations.items():
    for hol in hols:
        hol=pd.to_datetime(hol).date()
        holidays.loc[len(holidays.index)] = [hol, desc, '']
#holidays[holidays['Date'] == '12/25/2019']
#print(type(holidays['Date'][0]))
holidays.Date = pd.to_datetime(holidays.Date)
holidays

,Date,Official Name,Remarks
0,2019-11-11,Veterans Day,NaN
1,2019-11-28,Thanksgiving Day,NaN
2,2019-12-25,Christmas,NaN
3,2020-01-01,New Year's Day,Celebrates beginning of the Gregorian calendar...
4,2020-01-20,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ..."
...,...,...,...
89,2020-08-30,Summer Vacation,
90,2020-08-31,Summer Vacation,
91,2020-09-01,Summer Vacation,
92,2020-09-02,Summer Vacation,
93,2020-09-03,Summer Vacation,

In [29]:

temp=list(holidays['Date'])
for x in temp:
    print(x.date())

2019-11-11
2019-11-28
2019-12-25
2020-01-01
2020-01-20
2020-01-20
2020-02-17
2020-05-25
2020-07-04
2020-09-07
2020-10-12
2020-04-06
2020-04-07
2020-04-08
2020-04-09
2020-04-10
2020-06-18
2020-06-19
2020-06-20
2020-06-21
2020-06-22
2020-06-23
2020-06-24
2020-06-25
2020-06-26
2020-06-27
2020-06-28
2020-06-29
2020-06-30
2020-07-01
2020-07-02
2020-07-03
2020-07-04
2020-07-05
2020-07-06
2020-07-07
2020-07-08
2020-07-09
2020-07-10
2020-07-11
2020-07-12
2020-07-13
2020-07-14
2020-07-15
2020-07-16
2020-07-17
2020-07-18
2020-07-19
2020-07-20
2020-07-21
2020-07-22
2020-07-23
2020-07-24
2020-07-25
2020-07-26
2020-07-27
2020-07-28
2020-07-29
2020-07-30
2020-07-31
2020-08-01
2020-08-02
2020-08-03
2020-08-04
2020-08-05
2020-08-06
2020-08-07
2020-08-08
2020-08-09
2020-08-10
2020-08-11
2020-08-12
2020-08-13
2020-08-14
2020-08-15
2020-08-16
2020-08-17
2020-08-18
2020-08-19
2020-08-20
2020-08-21
2020-08-22
2020-08-23
2020-08-24
2020-08-25
2020-08-26
2020-08-27
2020-08-28
2020-08-29
2020-08-30
2020-08-31
2020-09-01
2020-09-02
2020-09-03

In [25]:
d = pd.date_range('12/23/2019', '1/3/2020') # datetimeindex obj
d1 = holidays['Date'] # series
d1=list(d1)
d1=[x.date() for x in d1]
d2 = []
for date in d:
    if date.date() not in d1:
        d2.append(date.date())
wdates = pd.DataFrame(d2, columns=['Date'])
wdates['Official Name'] = 'Winter Vacation'
wdates['Date'] = pd.to_datetime(wdates.Date)
# dates['Year'] = dates.Date.dt.year
# dates['Month'] = dates.Date.dt.month
# dates['Day'] = dates.Date.dt.day
wdates

        Date    Official Name
0 2019-12-23  Winter Vacation
1 2019-12-24  Winter Vacation
2 2019-12-26  Winter Vacation
3 2019-12-27  Winter Vacation
4 2019-12-28  Winter Vacation
5 2019-12-29  Winter Vacation
6 2019-12-30  Winter Vacation
7 2019-12-31  Winter Vacation
8 2020-01-02  Winter Vacation
9 2020-01-03  Winter Vacation

In [26]:
hols = holidays.merge(wdates, how='outer', on=['Date'])
hols.sort_values(by='Date', inplace=True)
#hols.drop("Remarks", axis=1, inplace=True)
#hols[hols['Date']=='2019-12-25']
#hols[hols['Date']=='2019-12-24']
hols

,Date,Official Name_x,Remarks,Official Name_y
0,2019-11-11,Veterans Day,NaN,NaN
1,2019-11-28,Thanksgiving Day,NaN,NaN
94,2019-12-23,NaN,NaN,Winter Vacation
95,2019-12-24,NaN,NaN,Winter Vacation
2,2019-12-25,Christmas,NaN,NaN
...,...,...,...,...
91,2020-09-01,Summer Vacation,,NaN
92,2020-09-02,Summer Vacation,,NaN
93,2020-09-03,Summer Vacation,,NaN
10,2020-09-07,Labor Day,Celebrates the achievements of workers and the...,NaN
11,2020-10-12,Columbus Day,"Honors Christopher Columbus, traditional disco...",NaN

In [27]:
hols['Name']=hols['Official Name_x'].fillna(hols['Official Name_y'])
hols

,Date,Official Name_x,Remarks,Official Name_y,Name
0,2019-11-11,Veterans Day,NaN,NaN,Veterans Day
1,2019-11-28,Thanksgiving Day,NaN,NaN,Thanksgiving Day
94,2019-12-23,NaN,NaN,Winter Vacation,Winter Vacation
95,2019-12-24,NaN,NaN,Winter Vacation,Winter Vacation
2,2019-12-25,Christmas,NaN,NaN,Christmas
...,...,...,...,...,...
91,2020-09-01,Summer Vacation,,NaN,Summer Vacation
92,2020-09-02,Summer Vacation,,NaN,Summer Vacation
93,2020-09-03,Summer Vacation,,NaN,Summer Vacation
10,2020-09-07,Labor Day,Celebrates the achievements of workers and the...,NaN,Labor Day
11,2020-10-12,Columbus Day,"Honors Christopher Columbus, traditional disco...",NaN,Columbus Day

In [28]:
hols.drop('Official Name_y', axis=1, inplace=True)
hols.drop('Remarks', axis=1, inplace=True)
hols.drop('Official Name_x', axis=1, inplace=True)
hols

         Date              Name
0  2019-11-11      Veterans Day
1  2019-11-28  Thanksgiving Day
94 2019-12-23   Winter Vacation
95 2019-12-24   Winter Vacation
2  2019-12-25         Christmas
..        ...               ...
91 2020-09-01   Summer Vacation
92 2020-09-02   Summer Vacation
93 2020-09-03   Summer Vacation
10 2020-09-07         Labor Day
11 2020-10-12      Columbus Day

[104 rows x 2 columns]

In [29]:
hols[hols['Date']=='2019-12-25']

        Date       Name
2 2019-12-25  Christmas

In [30]:
hols.to_csv('hols.csv', index=False)

In [31]:
d = pd.date_range('11/1/2019', '11/30/2020') # datetimeindex obj
d1 = holidays['Date'] # series
d1=list(d1)
d1=[x.date() for x in d1]
d3 = wdates['Date'] # series
d3=list(d3)
d3=[x.date() for x in d3]
d2 = []
for date in d:
    if date.date() not in d1 and date.date() not in d3:
        d2.append(date.date())
dates = pd.DataFrame(d2, columns=['Date'])
dates['Official Name'] = 'Not Holiday'
dates['Date'] = pd.to_datetime(dates.Date)
# dates['Year'] = dates.Date.dt.year
# dates['Month'] = dates.Date.dt.month
# dates['Day'] = dates.Date.dt.day
dates

          Date Official Name
0   2019-11-01   Not Holiday
1   2019-11-02   Not Holiday
2   2019-11-03   Not Holiday
3   2019-11-04   Not Holiday
4   2019-11-05   Not Holiday
..         ...           ...
289 2020-11-26   Not Holiday
290 2020-11-27   Not Holiday
291 2020-11-28   Not Holiday
292 2020-11-29   Not Holiday
293 2020-11-30   Not Holiday

[294 rows x 2 columns]

In [32]:
hols.Date = pd.to_datetime(hols.Date)
dates.Date = pd.to_datetime(dates.Date)
hol = hols.merge(dates, how='outer', on=['Date'])
hol.sort_values(by='Date', inplace=True)
hol

          Date Name Official Name
104 2019-11-01  NaN   Not Holiday
105 2019-11-02  NaN   Not Holiday
106 2019-11-03  NaN   Not Holiday
107 2019-11-04  NaN   Not Holiday
108 2019-11-05  NaN   Not Holiday
..         ...  ...           ...
393 2020-11-26  NaN   Not Holiday
394 2020-11-27  NaN   Not Holiday
395 2020-11-28  NaN   Not Holiday
396 2020-11-29  NaN   Not Holiday
397 2020-11-30  NaN   Not Holiday

[398 rows x 3 columns]

In [33]:
hol['Holiday_Name']=hol['Official Name'].fillna(hol['Name'])

In [34]:
hol.drop('Official Name', axis=1, inplace=True)
hol.drop('Name', axis=1, inplace=True)
hol[hol['Date']=='2019-12-2']

          Date Holiday_Name
133 2019-12-02  Not Holiday

In [35]:
hol

          Date Holiday_Name
104 2019-11-01  Not Holiday
105 2019-11-02  Not Holiday
106 2019-11-03  Not Holiday
107 2019-11-04  Not Holiday
108 2019-11-05  Not Holiday
..         ...          ...
393 2020-11-26  Not Holiday
394 2020-11-27  Not Holiday
395 2020-11-28  Not Holiday
396 2020-11-29  Not Holiday
397 2020-11-30  Not Holiday

[398 rows x 2 columns]

In [36]:
hol.to_csv('holidays.csv', index=False)