In [1]:
# import the necessary libraries
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

# Dataset 1: Divvy Bike Data

In [2]:
# Read the various csv files from Nov 2019 to Oct 2020 (includes Oct 2019 as well)
d1 = pd.read_csv("divvy/Divvy_Trips_2019_Q4.csv")
d2 = pd.read_csv("divvy/divvydata_Jan-Mar2020.csv")
d3 = pd.read_csv("divvy/202004-divvy-tripdata.csv")
d4 = pd.read_csv("divvy/202005-divvy-tripdata.csv")
d5 = pd.read_csv("divvy/202006-divvy-tripdata.csv")
d6 = pd.read_csv("divvy/202007-divvy-tripdata.csv")
d7 = pd.read_csv("divvy/202008-divvy-tripdata.csv")
d8 = pd.read_csv("divvy/202009-divvy-tripdata.csv")
d9 = pd.read_csv("divvy/202010-divvy-tripdata.csv")

In [3]:
# since the data of the 4th quarter of 2019 has different attributes than the rest of the other datasets, rename the attributes 
d1.rename({'trip_id': 'ride_id', 'start_time':'started_at', 'end_time': 'ended_at', 'from_station_name':'start_station_name', 'from_station_id': 'start_station_id', 'to_station_name': 'end_station_name', 'to_station_id': 'end_station_id', 'usertype': 'member_casual'}, axis=1, inplace=True)
d1

,ride_id,started_at,ended_at,bikeid,tripduration,start_station_id,start_station_name,end_station_id,end_station_name,member_casual,gender,birthyear
0,25223640,2019-10-01 00:01:39,2019-10-01 00:17:20,2215,940.0,20,Sheffield Ave & Kingsbury St,309,Leavitt St & Armitage Ave,Subscriber,Male,1987.0
1,25223641,2019-10-01 00:02:16,2019-10-01 00:06:34,6328,258.0,19,Throop (Loomis) St & Taylor St,241,Morgan St & Polk St,Subscriber,Male,1998.0
2,25223642,2019-10-01 00:04:32,2019-10-01 00:18:43,3003,850.0,84,Milwaukee Ave & Grand Ave,199,Wabash Ave & Grand Ave,Subscriber,Female,1991.0
3,25223643,2019-10-01 00:04:32,2019-10-01 00:43:43,3275,"2,350.0",313,Lakeview Ave & Fullerton Pkwy,290,Kedzie Ave & Palmer Ct,Subscriber,Male,1990.0
4,25223644,2019-10-01 00:04:34,2019-10-01 00:35:42,5294,"1,867.0",210,Ashland Ave & Division St,382,Western Ave & Congress Pkwy,Subscriber,Male,1987.0
...,...,...,...,...,...,...,...,...,...,...,...,...
704049,25962900,2019-12-31 23:56:13,2020-01-01 00:15:45,2196,"1,172.0",112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0
704050,25962901,2019-12-31 23:56:34,2020-01-01 00:22:08,4877,"1,533.0",90,Millennium Park,90,Millennium Park,Subscriber,Male,1992.0
704051,25962902,2019-12-31 23:57:05,2020-01-01 00:05:46,863,520.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0
704052,25962903,2019-12-31 23:57:11,2020-01-01 00:05:45,2637,514.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0
704053,25962904,2019-12-31 23:57:17,2019-12-31 23:59:18,5930,120.0,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0

In [4]:
# extract the necessary columns from all the datasets
d1 = d1[['ride_id', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'member_casual']]
d2 = d2[['ride_id', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'member_casual']]
d3 = d3[['ride_id', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'member_casual']]
d4 = d4[['ride_id', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'member_casual']]
d5 = d5[['ride_id', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'member_casual']]
d6 = d6[['ride_id', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'member_casual']]
d7 = d7[['ride_id', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'member_casual']]
d8 = d8[['ride_id', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'member_casual']]
d9 = d9[['ride_id', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'member_casual']]

d3

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual
0,A847FADBBC638E45,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,member
1,5405B80E996FF60D,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,member
2,5DD24A79A4E006F4,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,member
3,2A59BBDF5CDBA725,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,member
4,27AD306C119C6158,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,casual
...,...,...,...,...,...,...,...,...
84771,200E9CDFC5685AA0,2020-04-16 16:10:16,2020-04-16 16:23:11,Dearborn Pkwy & Delaware Pl,140,Dearborn Pkwy & Delaware Pl,140.0,member
84772,F58A8F2ABCB5D95B,2020-04-30 17:56:12,2020-04-30 18:15:21,Kimbark Ave & 53rd St,322,Cottage Grove Ave & 51st St,351.0,casual
84773,A3754693A80E4913,2020-04-24 19:57:33,2020-04-24 21:50:43,Sedgwick St & Schiller St,236,Wells St & Elm St,182.0,casual
84774,D610CABB67F7B744,2020-04-02 17:59:55,2020-04-02 18:42:26,Damen Ave & Charleston St,310,Damen Ave & Charleston St,310.0,casual
84775,79634521ABE4CF69,2020-04-04 01:31:27,2020-04-04 01:37:27,Clybourn Ave & Division St,138,Clybourn Ave & Division St,138.0,casual

In [5]:
# merge all the datasets to get the complete data for the Divvy bikes
divvy_data = pd.concat([d1, d2, d3, d4, d5, d6, d7, d8, d9])
divvy_data

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual
0,25223640,2019-10-01 00:01:39,2019-10-01 00:17:20,Sheffield Ave & Kingsbury St,20.0,Leavitt St & Armitage Ave,309.0,Subscriber
1,25223641,2019-10-01 00:02:16,2019-10-01 00:06:34,Throop (Loomis) St & Taylor St,19.0,Morgan St & Polk St,241.0,Subscriber
2,25223642,2019-10-01 00:04:32,2019-10-01 00:18:43,Milwaukee Ave & Grand Ave,84.0,Wabash Ave & Grand Ave,199.0,Subscriber
3,25223643,2019-10-01 00:04:32,2019-10-01 00:43:43,Lakeview Ave & Fullerton Pkwy,313.0,Kedzie Ave & Palmer Ct,290.0,Subscriber
4,25223644,2019-10-01 00:04:34,2019-10-01 00:35:42,Ashland Ave & Division St,210.0,Western Ave & Congress Pkwy,382.0,Subscriber
...,...,...,...,...,...,...,...,...
388648,73F13E3E24954C57,2020-10-28 08:31:24,2020-10-28 08:37:50,Leavitt St & Division St,658.0,Wood St & Augusta Blvd,657.0,member
388649,6F68E6F5704E2C08,2020-10-06 10:04:49,2020-10-06 10:13:25,Aberdeen St & Jackson Blvd,21.0,Loomis St & Lexington St,320.0,member
388650,79C12697BEBF5B0A,2020-10-15 06:54:49,2020-10-15 07:22:23,California Ave & Altgeld St,502.0,California Ave & Altgeld St,502.0,casual
388651,907E10168C2F53FE,2020-10-16 10:29:59,2020-10-16 10:50:10,Lincoln Ave & Diversey Pkwy,152.0,Ashland Ave & Blackhawk St,333.0,casual
388652,A12644A5B2CA6B4E,2020-10-31 20:13:00,2020-10-31 20:24:28,Clark St & Newport St,632.0,Clark St & Winnemac Ave,325.0,casual

In [6]:
# Convert the date columns (start and end times) in the divvy data to datetime format 
divvy_data['started_at'] = pd.to_datetime(divvy_data.started_at)
divvy_data['ended_at'] = pd.to_datetime(divvy_data.ended_at)

# make new columns 'Year', 'Month', 'Day' and 'Hour' based on the 'started_at' column
divvy_data['Year'] = divvy_data.started_at.dt.year
divvy_data['Month'] = divvy_data.started_at.dt.month
divvy_data['Day'] = divvy_data.started_at.dt.day
divvy_data['Hour'] = divvy_data.started_at.dt.hour

# save the resuting dataframe to a csv
divvy_data.to_csv("divvy_final.csv", index=False)
divvy_data

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,Day,Hour
0,25223640,2019-10-01 00:01:39,2019-10-01 00:17:20,Sheffield Ave & Kingsbury St,20.0,Leavitt St & Armitage Ave,309.0,Subscriber,2019,10,1,0
1,25223641,2019-10-01 00:02:16,2019-10-01 00:06:34,Throop (Loomis) St & Taylor St,19.0,Morgan St & Polk St,241.0,Subscriber,2019,10,1,0
2,25223642,2019-10-01 00:04:32,2019-10-01 00:18:43,Milwaukee Ave & Grand Ave,84.0,Wabash Ave & Grand Ave,199.0,Subscriber,2019,10,1,0
3,25223643,2019-10-01 00:04:32,2019-10-01 00:43:43,Lakeview Ave & Fullerton Pkwy,313.0,Kedzie Ave & Palmer Ct,290.0,Subscriber,2019,10,1,0
4,25223644,2019-10-01 00:04:34,2019-10-01 00:35:42,Ashland Ave & Division St,210.0,Western Ave & Congress Pkwy,382.0,Subscriber,2019,10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
388648,73F13E3E24954C57,2020-10-28 08:31:24,2020-10-28 08:37:50,Leavitt St & Division St,658.0,Wood St & Augusta Blvd,657.0,member,2020,10,28,8
388649,6F68E6F5704E2C08,2020-10-06 10:04:49,2020-10-06 10:13:25,Aberdeen St & Jackson Blvd,21.0,Loomis St & Lexington St,320.0,member,2020,10,6,10
388650,79C12697BEBF5B0A,2020-10-15 06:54:49,2020-10-15 07:22:23,California Ave & Altgeld St,502.0,California Ave & Altgeld St,502.0,casual,2020,10,15,6
388651,907E10168C2F53FE,2020-10-16 10:29:59,2020-10-16 10:50:10,Lincoln Ave & Diversey Pkwy,152.0,Ashland Ave & Blackhawk St,333.0,casual,2020,10,16,10
388652,A12644A5B2CA6B4E,2020-10-31 20:13:00,2020-10-31 20:24:28,Clark St & Newport St,632.0,Clark St & Winnemac Ave,325.0,casual,2020,10,31,20

# Dataset 2 - Weather Data

In [8]:
# read the weather data from the csv file into a pandas dataframe
weather = pd.read_csv("weather/weather.csv")
weather

,Date,d,Time,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition
0,11/01/19 23:53,11/1/2019,11:53 PM,27 F,81,7 mph,0 mph,0.0 in,Fair
1,11/01/19 00:53,11/1/2019,12:53 AM,26 F,81,8 mph,0 mph,0.0 in,Fair
2,11/01/19 01:53,11/1/2019,1:53 AM,25 F,85,8 mph,0 mph,0.0 in,Fair
3,11/01/19 02:53,11/1/2019,2:53 AM,26 F,84,6 mph,0 mph,0.0 in,Fair
4,11/01/19 03:53,11/1/2019,3:53 AM,25 F,88,5 mph,0 mph,0.0 in,Fair
...,...,...,...,...,...,...,...,...,...
10331,10/31/20 18:53,10/31/2020,6:53 PM,55 F,51,15mph,30mph,0.0in,Partly Cloudy
10332,10/31/20 19:53,10/31/2020,7:53 PM,54 F,55,18mph,29mph,0.0in,Mostly Cloudy
10333,10/31/20 20:53,10/31/2020,8:53 PM,54 F,55,18mph,29mph,0.0in,Cloudy
10334,10/31/20 21:53,10/31/2020,9:53 PM,52 F,66,16mph,30mph,0.0in,Cloudy
10335,10/31/20 22:53,10/31/2020,10:53 PM,53 F,61,16mph,25mph,0.0in,Mostly Cloudy

In [9]:
# extract the relevant columns needed for our predictions
weather = weather[['Date', 'Temperature', 'Humidity', 'Wind Speed', 'Wind Gust', 'Precipitation', 'Condition']]
weather

,Date,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition
0,11/01/19 23:53,27 F,81,7 mph,0 mph,0.0 in,Fair
1,11/01/19 00:53,26 F,81,8 mph,0 mph,0.0 in,Fair
2,11/01/19 01:53,25 F,85,8 mph,0 mph,0.0 in,Fair
3,11/01/19 02:53,26 F,84,6 mph,0 mph,0.0 in,Fair
4,11/01/19 03:53,25 F,88,5 mph,0 mph,0.0 in,Fair
...,...,...,...,...,...,...,...
10331,10/31/20 18:53,55 F,51,15mph,30mph,0.0in,Partly Cloudy
10332,10/31/20 19:53,54 F,55,18mph,29mph,0.0in,Mostly Cloudy
10333,10/31/20 20:53,54 F,55,18mph,29mph,0.0in,Cloudy
10334,10/31/20 21:53,52 F,66,16mph,30mph,0.0in,Cloudy
10335,10/31/20 22:53,53 F,61,16mph,25mph,0.0in,Mostly Cloudy

In [10]:
# convert the weather date to datetime format
weather['Date'] = pd.to_datetime(weather.Date)

# create new columns 'Year', 'Month', 'Day' and 'Hour' based on the date column
weather['Year'] = weather.Date.dt.year
weather['Month'] = weather.Date.dt.month
weather['Day'] = weather.Date.dt.day
weather['Hour'] = weather.Date.dt.hour

# save the dataframe to a csv file
weather.to_csv("weather_final.csv", index=False)
weather

,Date,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,Year,Month,Day,Hour
0,2019-11-01 23:53:00,27 F,81,7 mph,0 mph,0.0 in,Fair,2019,11,1,23
1,2019-11-01 00:53:00,26 F,81,8 mph,0 mph,0.0 in,Fair,2019,11,1,0
2,2019-11-01 01:53:00,25 F,85,8 mph,0 mph,0.0 in,Fair,2019,11,1,1
3,2019-11-01 02:53:00,26 F,84,6 mph,0 mph,0.0 in,Fair,2019,11,1,2
4,2019-11-01 03:53:00,25 F,88,5 mph,0 mph,0.0 in,Fair,2019,11,1,3
...,...,...,...,...,...,...,...,...,...,...,...
10331,2020-10-31 18:53:00,55 F,51,15mph,30mph,0.0in,Partly Cloudy,2020,10,31,18
10332,2020-10-31 19:53:00,54 F,55,18mph,29mph,0.0in,Mostly Cloudy,2020,10,31,19
10333,2020-10-31 20:53:00,54 F,55,18mph,29mph,0.0in,Cloudy,2020,10,31,20
10334,2020-10-31 21:53:00,52 F,66,16mph,30mph,0.0in,Cloudy,2020,10,31,21
10335,2020-10-31 22:53:00,53 F,61,16mph,25mph,0.0in,Mostly Cloudy,2020,10,31,22

In [11]:
# merge both the divvy and weather data based on the extracted year, month, day and hour
merged_df = divvy_data.merge(weather, how='inner', on=['Year', 'Month', 'Day', 'Hour'])

# drop the 'Date' column from the merged data , since we are using the 'started_at' column from divvy_data
merged_df.drop(['Date'], axis=1, inplace=True)
merged_df

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,Day,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition
0,25612325,2019-11-01 00:00:45,2019-11-01 00:08:10,Ellis Ave & 55th St,420.0,Harper Ave & 59th St,425.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair
1,25612326,2019-11-01 00:01:13,2019-11-01 00:30:09,Western Ave & Winnebago Ave,116.0,Morgan St & Polk St,241.0,Customer,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair
2,25612327,2019-11-01 00:01:42,2019-11-01 00:38:32,Western Ave & Winnebago Ave,116.0,May St & Taylor St,22.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair
3,25612328,2019-11-01 00:02:24,2019-11-01 00:09:27,Lincoln Ave & Winona St,472.0,Maplewood Ave & Peterson Ave,455.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair
4,25612329,2019-11-01 00:02:30,2019-11-01 00:04:09,Clinton St & Madison St,77.0,Clinton St & Washington Blvd,91.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3803530,7BBA6E8E6E19BA46,2020-10-22 05:17:20,2020-10-22 05:21:09,NaN,NaN,NaN,NaN,member,2020,10,22,5,49 F,90,16mph,0mph,0.0in,Light Rain
3803531,5DE9694204DED47B,2020-10-22 05:16:55,2020-10-22 05:17:01,NaN,NaN,NaN,NaN,member,2020,10,22,5,48 F,93,9mph,22mph,0.0in,Light Drizzle
3803532,5DE9694204DED47B,2020-10-22 05:16:55,2020-10-22 05:17:01,NaN,NaN,NaN,NaN,member,2020,10,22,5,48 F,93,13mph,0mph,0.0in,Light Rain
3803533,5DE9694204DED47B,2020-10-22 05:16:55,2020-10-22 05:17:01,NaN,NaN,NaN,NaN,member,2020,10,22,5,48 F,93,16mph,0mph,0.0in,Light Rain
3803534,5DE9694204DED47B,2020-10-22 05:16:55,2020-10-22 05:17:01,NaN,NaN,NaN,NaN,member,2020,10,22,5,49 F,90,16mph,0mph,0.0in,Light Rain

# Dataset 3: Holidays

In [12]:
# read the list of holidays from the csv file
holidays = pd.read_csv("holidays/list-us-public-holidays-454j.csv", encoding="ISO-8859-1")
holidays

,SNo,Unnamed: 1,Date,Official Name,Remarks
0,1.0,11/11/2019,NaN,Veterans Day,NaN
1,2.0,11/28/2019,NaN,Thanksgiving Day,NaN
2,3.0,12/25/2019,NaN,Christmas,NaN
3,4.0,1/1/2020,January 1(Fixed),New Year's Day,Celebrates beginning of the Gregorian calendar...
4,5.0,1/20/2020,Third Monday in January,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ..."
5,6.0,1/20/2020,First January 20 following a Presidential elec...,Inauguration Day,Observed only by federal government employees ...
6,7.0,2/17/2020,Third Monday in February,Washington's Birthday,Washington's Birthday was first declared a fed...
7,8.0,5/25/2020,Last Monday in May,Memorial Day,Honors the nation's war dead from the Civil Wa...
8,9.0,7/4/2020,4-Jul,Independence Day,Celebrates the signing of the Declaration of I...
9,10.0,9/7/2020,First Monday in September,Labor Day,Celebrates the achievements of workers and the...
10,11.0,10/12/2020,Second Monday in October,Columbus Day,"Honors Christopher Columbus, traditional disco..."
11,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN

In [13]:
# remove the last 3 rows, since they are all NaNs
holidays.drop(holidays.tail(3).index,inplace=True)

In [14]:
holidays

,SNo,Unnamed: 1,Date,Official Name,Remarks
0,1.0,11/11/2019,NaN,Veterans Day,NaN
1,2.0,11/28/2019,NaN,Thanksgiving Day,NaN
2,3.0,12/25/2019,NaN,Christmas,NaN
3,4.0,1/1/2020,January 1(Fixed),New Year's Day,Celebrates beginning of the Gregorian calendar...
4,5.0,1/20/2020,Third Monday in January,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ..."
5,6.0,1/20/2020,First January 20 following a Presidential elec...,Inauguration Day,Observed only by federal government employees ...
6,7.0,2/17/2020,Third Monday in February,Washington's Birthday,Washington's Birthday was first declared a fed...
7,8.0,5/25/2020,Last Monday in May,Memorial Day,Honors the nation's war dead from the Civil Wa...
8,9.0,7/4/2020,4-Jul,Independence Day,Celebrates the signing of the Declaration of I...
9,10.0,9/7/2020,First Monday in September,Labor Day,Celebrates the achievements of workers and the...
10,11.0,10/12/2020,Second Monday in October,Columbus Day,"Honors Christopher Columbus, traditional disco..."

In [15]:
# extract the relevant columns
holidays = holidays[['Unnamed: 1', 'Official Name', 'Remarks']]

# rename the Unnamed column to Date
holidays.rename({'Unnamed: 1': 'Date'}, axis=1, inplace=True)
holidays

,Date,Official Name,Remarks
0,11/11/2019,Veterans Day,NaN
1,11/28/2019,Thanksgiving Day,NaN
2,12/25/2019,Christmas,NaN
3,1/1/2020,New Year's Day,Celebrates beginning of the Gregorian calendar...
4,1/20/2020,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ..."
5,1/20/2020,Inauguration Day,Observed only by federal government employees ...
6,2/17/2020,Washington's Birthday,Washington's Birthday was first declared a fed...
7,5/25/2020,Memorial Day,Honors the nation's war dead from the Civil Wa...
8,7/4/2020,Independence Day,Celebrates the signing of the Declaration of I...
9,9/7/2020,Labor Day,Celebrates the achievements of workers and the...
10,10/12/2020,Columbus Day,"Honors Christopher Columbus, traditional disco..."

In [16]:
# convert the date column to datetime format (for easier processing)
holidays.Date = pd.to_datetime(holidays.Date)

In [17]:
# get the list of dates for spring break
vacations = {'Spring Break': pd.date_range('4/6/2020', '4/10/2020')}

for desc, hols in vacations.items():
    for hol in hols:
        # get the date from the timestamp
        hol=pd.to_datetime(hol).date()
        # and append to the dataframe
        holidays.loc[len(holidays.index)] = [hol, desc, '']
        
# assign it to the Date column
holidays.Date = pd.to_datetime(holidays.Date)
holidays

,Date,Official Name,Remarks
0,2019-11-11,Veterans Day,NaN
1,2019-11-28,Thanksgiving Day,NaN
2,2019-12-25,Christmas,NaN
3,2020-01-01,New Year's Day,Celebrates beginning of the Gregorian calendar...
4,2020-01-20,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ..."
5,2020-01-20,Inauguration Day,Observed only by federal government employees ...
6,2020-02-17,Washington's Birthday,Washington's Birthday was first declared a fed...
7,2020-05-25,Memorial Day,Honors the nation's war dead from the Civil Wa...
8,2020-07-04,Independence Day,Celebrates the signing of the Declaration of I...
9,2020-09-07,Labor Day,Celebrates the achievements of workers and the...
10,2020-10-12,Columbus Day,"Honors Christopher Columbus, traditional disco..."
11,2020-04-06,Spring Break,
12,2020-04-07,Spring Break,
13,2020-04-08,Spring Break,
14,2020-04-09,Spring Break,
15,2020-04-10,Spring Break,

In [18]:
# get list of dates for summer vacation
d = pd.date_range('6/18/2020', '9/3/2020') # datetimeindex obj
d1 = list(holidays['Date']) # series
# reassign the dates from the Date column in d1
d1=[x.date() for x in d1]
d2 = []
for date in d:
    # if the date isn't already in d1, add to the empty list d2
    if date.date() not in d1:
        d2.append(date.date())
        
# and assign it to a new dataframe
sdates = pd.DataFrame(d2, columns=['Date'])
# give the value as Summer Vacation
sdates['Official Name'] = 'Summer Vacation'
# convert the date into datetime format
sdates['Date'] = pd.to_datetime(sdates.Date)
sdates

         Date    Official Name
0  2020-06-18  Summer Vacation
1  2020-06-19  Summer Vacation
2  2020-06-20  Summer Vacation
3  2020-06-21  Summer Vacation
4  2020-06-22  Summer Vacation
..        ...              ...
72 2020-08-30  Summer Vacation
73 2020-08-31  Summer Vacation
74 2020-09-01  Summer Vacation
75 2020-09-02  Summer Vacation
76 2020-09-03  Summer Vacation

[77 rows x 2 columns]

In [19]:
# get list of dates for winter vacation
d = pd.date_range('12/23/2019', '1/3/2020') 
d1 = list(holidays['Date']) # series

# reassign the dates in the Date column
d1=[x.date() for x in d1]
d2 = []
for date in d:
    # if the date isn't in d1
    if date.date() not in d1:
        # add to the empty list d2
        d2.append(date.date())
# create a new dataframe with that list
wdates = pd.DataFrame(d2, columns=['Date'])
# and assign a value of Winter Vacation for all the records
wdates['Official Name'] = 'Winter Vacation'
# convert the Date attribute to datetime format
wdates['Date'] = pd.to_datetime(wdates.Date)
wdates

        Date    Official Name
0 2019-12-23  Winter Vacation
1 2019-12-24  Winter Vacation
2 2019-12-26  Winter Vacation
3 2019-12-27  Winter Vacation
4 2019-12-28  Winter Vacation
5 2019-12-29  Winter Vacation
6 2019-12-30  Winter Vacation
7 2019-12-31  Winter Vacation
8 2020-01-02  Winter Vacation
9 2020-01-03  Winter Vacation

In [20]:
# merge the holidays and winter break dates
hols = holidays.merge(wdates, how='outer', on=['Date'])
# sort by Date in ascending order
hols.sort_values(by='Date', inplace=True)
hols

,Date,Official Name_x,Remarks,Official Name_y
0,2019-11-11,Veterans Day,NaN,NaN
1,2019-11-28,Thanksgiving Day,NaN,NaN
16,2019-12-23,NaN,NaN,Winter Vacation
17,2019-12-24,NaN,NaN,Winter Vacation
2,2019-12-25,Christmas,NaN,NaN
18,2019-12-26,NaN,NaN,Winter Vacation
19,2019-12-27,NaN,NaN,Winter Vacation
20,2019-12-28,NaN,NaN,Winter Vacation
21,2019-12-29,NaN,NaN,Winter Vacation
22,2019-12-30,NaN,NaN,Winter Vacation
23,2019-12-31,NaN,NaN,Winter Vacation
3,2020-01-01,New Year's Day,Celebrates beginning of the Gregorian calendar...,NaN
24,2020-01-02,NaN,NaN,Winter Vacation
25,2020-01-03,NaN,NaN,Winter Vacation
5,2020-01-20,Inauguration Day,Observed only by federal government employees ...,NaN
4,2020-01-20,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ...",NaN
6,2020-02-17,Washington's Birthday,Washington's Birthday was first declared a fed...,NaN
11,2020-04-06,Spring Break,,NaN
12,2020-04-07,Spring Break,,NaN
13,2020-04-08,Spring Break,,NaN
14,2020-04-09,Spring Break,,NaN
15,2020-04-10,Spring Break,,NaN
7,2020-05-25,Memorial Day,Honors the nation's war dead from the Civil Wa...,NaN
8,2020-07-04,Independence Day,Celebrates the signing of the Declaration of I...,NaN
9,2020-09-07,Labor Day,Celebrates the achievements of workers and the...,NaN
10,2020-10-12,Columbus Day,"Honors Christopher Columbus, traditional disco...",NaN

In [21]:
# create a new column Name and assgn it h Official Name_x, if NaN, assign with Official Name_y
hols['Name']=hols['Official Name_x'].fillna(hols['Official Name_y'])
hols

,Date,Official Name_x,Remarks,Official Name_y,Name
0,2019-11-11,Veterans Day,NaN,NaN,Veterans Day
1,2019-11-28,Thanksgiving Day,NaN,NaN,Thanksgiving Day
16,2019-12-23,NaN,NaN,Winter Vacation,Winter Vacation
17,2019-12-24,NaN,NaN,Winter Vacation,Winter Vacation
2,2019-12-25,Christmas,NaN,NaN,Christmas
18,2019-12-26,NaN,NaN,Winter Vacation,Winter Vacation
19,2019-12-27,NaN,NaN,Winter Vacation,Winter Vacation
20,2019-12-28,NaN,NaN,Winter Vacation,Winter Vacation
21,2019-12-29,NaN,NaN,Winter Vacation,Winter Vacation
22,2019-12-30,NaN,NaN,Winter Vacation,Winter Vacation
23,2019-12-31,NaN,NaN,Winter Vacation,Winter Vacation
3,2020-01-01,New Year's Day,Celebrates beginning of the Gregorian calendar...,NaN,New Year's Day
24,2020-01-02,NaN,NaN,Winter Vacation,Winter Vacation
25,2020-01-03,NaN,NaN,Winter Vacation,Winter Vacation
5,2020-01-20,Inauguration Day,Observed only by federal government employees ...,NaN,Inauguration Day
4,2020-01-20,"Birthday of Martin Luther King, Jr.","Honors Dr. Martin Luther King, Jr., Civil Righ...",NaN,"Birthday of Martin Luther King, Jr."
6,2020-02-17,Washington's Birthday,Washington's Birthday was first declared a fed...,NaN,Washington's Birthday
11,2020-04-06,Spring Break,,NaN,Spring Break
12,2020-04-07,Spring Break,,NaN,Spring Break
13,2020-04-08,Spring Break,,NaN,Spring Break
14,2020-04-09,Spring Break,,NaN,Spring Break
15,2020-04-10,Spring Break,,NaN,Spring Break
7,2020-05-25,Memorial Day,Honors the nation's war dead from the Civil Wa...,NaN,Memorial Day
8,2020-07-04,Independence Day,Celebrates the signing of the Declaration of I...,NaN,Independence Day
9,2020-09-07,Labor Day,Celebrates the achievements of workers and the...,NaN,Labor Day
10,2020-10-12,Columbus Day,"Honors Christopher Columbus, traditional disco...",NaN,Columbus Day

In [22]:
# remove the unecessary columns from the dataframe
hols.drop('Official Name_y', axis=1, inplace=True)
hols.drop('Remarks', axis=1, inplace=True)
hols.drop('Official Name_x', axis=1, inplace=True)
hols

         Date                                 Name
0  2019-11-11                         Veterans Day
1  2019-11-28                     Thanksgiving Day
16 2019-12-23                      Winter Vacation
17 2019-12-24                      Winter Vacation
2  2019-12-25                            Christmas
18 2019-12-26                      Winter Vacation
19 2019-12-27                      Winter Vacation
20 2019-12-28                      Winter Vacation
21 2019-12-29                      Winter Vacation
22 2019-12-30                      Winter Vacation
23 2019-12-31                      Winter Vacation
3  2020-01-01                       New Year's Day
24 2020-01-02                      Winter Vacation
25 2020-01-03                      Winter Vacation
5  2020-01-20                     Inauguration Day
4  2020-01-20  Birthday of Martin Luther King, Jr.
6  2020-02-17                Washington's Birthday
11 2020-04-06                         Spring Break
12 2020-04-07                         Spring Break
13 2020-04-08                         Spring Break
14 2020-04-09                         Spring Break
15 2020-04-10                         Spring Break
7  2020-05-25                         Memorial Day
8  2020-07-04                     Independence Day
9  2020-09-07                            Labor Day
10 2020-10-12                         Columbus Day

In [23]:
# merge the merged dataframe with the summer dates
hols = hols.merge(sdates, how='outer', on=['Date'])
# sort by Date in ascending order
hols.sort_values(by='Date', inplace=True)
hols

          Date              Name    Official Name
0   2019-11-11      Veterans Day              NaN
1   2019-11-28  Thanksgiving Day              NaN
2   2019-12-23   Winter Vacation              NaN
3   2019-12-24   Winter Vacation              NaN
4   2019-12-25         Christmas              NaN
..         ...               ...              ...
100 2020-09-01               NaN  Summer Vacation
101 2020-09-02               NaN  Summer Vacation
102 2020-09-03               NaN  Summer Vacation
24  2020-09-07         Labor Day              NaN
25  2020-10-12      Columbus Day              NaN

[103 rows x 3 columns]

In [24]:
# assign the Name column with values from the Name column, if NaN, fill with values from Official Name
hols['Name']=hols['Name'].fillna(hols['Official Name'])
hols

          Date              Name    Official Name
0   2019-11-11      Veterans Day              NaN
1   2019-11-28  Thanksgiving Day              NaN
2   2019-12-23   Winter Vacation              NaN
3   2019-12-24   Winter Vacation              NaN
4   2019-12-25         Christmas              NaN
..         ...               ...              ...
100 2020-09-01   Summer Vacation  Summer Vacation
101 2020-09-02   Summer Vacation  Summer Vacation
102 2020-09-03   Summer Vacation  Summer Vacation
24  2020-09-07         Labor Day              NaN
25  2020-10-12      Columbus Day              NaN

[103 rows x 3 columns]

In [25]:
# drop Official Name from the dataframe
hols.drop('Official Name', axis=1, inplace=True)

In [26]:
# save the results into a csv file
hols.to_csv('hols.csv', index=False)

In [27]:
# get the list of dates from 11/1/2019 to 11/30/2019
d = pd.date_range('11/1/2019', '11/30/2020')
d1 = list(hols['Date'])
# reassign dates for the Date column
d1 = [x.date() for x in d1]
d3 = list(wdates['Date']) 
# reassign dates for the Date column in d3
d3=[x.date() for x in d3]
d2 = []
for date in d:
    # if the date is not in the merged data as well as not in the winter dates
    if date.date() not in d1 and date.date() not in d3:
        # add the date to the empty list d2
        d2.append(date.date())
# create a dataframe with d2 as the Date column
dates = pd.DataFrame(d2, columns=['Date'])
# if no name, assign as Not Holiday
dates['Official Name'] = 'Not Holiday'
# convert the Date attribute to datetime format
dates['Date'] = pd.to_datetime(dates.Date)
dates

          Date Official Name
0   2019-11-01   Not Holiday
1   2019-11-02   Not Holiday
2   2019-11-03   Not Holiday
3   2019-11-04   Not Holiday
4   2019-11-05   Not Holiday
..         ...           ...
289 2020-11-26   Not Holiday
290 2020-11-27   Not Holiday
291 2020-11-28   Not Holiday
292 2020-11-29   Not Holiday
293 2020-11-30   Not Holiday

[294 rows x 2 columns]

In [28]:
dates.Date = pd.to_datetime(dates.Date)

# check if the day is a weekend, if so, rerwite its value to Weekend
dates['Official Name']=np.where(dates.Date.dt.weekday > 4 , 'Weekend', 'Not Holiday')
dates

          Date Official Name
0   2019-11-01   Not Holiday
1   2019-11-02       Weekend
2   2019-11-03       Weekend
3   2019-11-04   Not Holiday
4   2019-11-05   Not Holiday
..         ...           ...
289 2020-11-26   Not Holiday
290 2020-11-27   Not Holiday
291 2020-11-28       Weekend
292 2020-11-29       Weekend
293 2020-11-30   Not Holiday

[294 rows x 2 columns]

In [29]:
hols.Date = pd.to_datetime(hols.Date)
dates.Date = pd.to_datetime(dates.Date)

# merge the previously merged dataset with the dates dataset
hol = hols.merge(dates, how='outer', on=['Date'])
# and sort by Date in ascending order
hol.sort_values(by='Date', inplace=True)
hol

          Date Name Official Name
103 2019-11-01  NaN   Not Holiday
104 2019-11-02  NaN       Weekend
105 2019-11-03  NaN       Weekend
106 2019-11-04  NaN   Not Holiday
107 2019-11-05  NaN   Not Holiday
..         ...  ...           ...
392 2020-11-26  NaN   Not Holiday
393 2020-11-27  NaN   Not Holiday
394 2020-11-28  NaN       Weekend
395 2020-11-29  NaN       Weekend
396 2020-11-30  NaN   Not Holiday

[397 rows x 3 columns]

In [30]:
# create a new column Holiday_Name and assign Official Name values to that column, if NaN, assign the corresponding values from the Name column
hol['Holiday_Name']=hol['Official Name'].fillna(hol['Name'])

In [31]:
# drop the unnecessary columns
hol.drop('Official Name', axis=1, inplace=True)
hol.drop('Name', axis=1, inplace=True)

In [32]:
hol

          Date Holiday_Name
103 2019-11-01  Not Holiday
104 2019-11-02      Weekend
105 2019-11-03      Weekend
106 2019-11-04  Not Holiday
107 2019-11-05  Not Holiday
..         ...          ...
392 2020-11-26  Not Holiday
393 2020-11-27  Not Holiday
394 2020-11-28      Weekend
395 2020-11-29      Weekend
396 2020-11-30  Not Holiday

[397 rows x 2 columns]

In [33]:
# extract the Year, Month and Day columns and create them as separate columns
hol['Year'] = hol.Date.dt.year
hol['Month'] = hol.Date.dt.month
hol['Day'] = hol.Date.dt.day
hol

          Date Holiday_Name  Year  Month  Day
103 2019-11-01  Not Holiday  2019     11    1
104 2019-11-02      Weekend  2019     11    2
105 2019-11-03      Weekend  2019     11    3
106 2019-11-04  Not Holiday  2019     11    4
107 2019-11-05  Not Holiday  2019     11    5
..         ...          ...   ...    ...  ...
392 2020-11-26  Not Holiday  2020     11   26
393 2020-11-27  Not Holiday  2020     11   27
394 2020-11-28      Weekend  2020     11   28
395 2020-11-29      Weekend  2020     11   29
396 2020-11-30  Not Holiday  2020     11   30

[397 rows x 5 columns]

In [34]:
# check for weekend in the final dataset
hol['Weekend'] = np.where(hol.Date.dt.weekday > 4, 1, 0)
# reset the index to start from 0
hol.reset_index(inplace=True)
hol

     index       Date Holiday_Name  Year  Month  Day  Weekend
0      103 2019-11-01  Not Holiday  2019     11    1        0
1      104 2019-11-02      Weekend  2019     11    2        1
2      105 2019-11-03      Weekend  2019     11    3        1
3      106 2019-11-04  Not Holiday  2019     11    4        0
4      107 2019-11-05  Not Holiday  2019     11    5        0
..     ...        ...          ...   ...    ...  ...      ...
392    392 2020-11-26  Not Holiday  2020     11   26        0
393    393 2020-11-27  Not Holiday  2020     11   27        0
394    394 2020-11-28      Weekend  2020     11   28        1
395    395 2020-11-29      Weekend  2020     11   29        1
396    396 2020-11-30  Not Holiday  2020     11   30        0

[397 rows x 7 columns]

In [35]:
# prevents overwriting of existing holidays
for i in range(len(hol['Date'])):
    if hol['Weekend'][i] == 1:
        if hol['Holiday_Name'][i] == "Not Holiday":
            hol['Holiday_Name'][i] = 'Weekend'
hol

     index       Date Holiday_Name  Year  Month  Day  Weekend
0      103 2019-11-01  Not Holiday  2019     11    1        0
1      104 2019-11-02      Weekend  2019     11    2        1
2      105 2019-11-03      Weekend  2019     11    3        1
3      106 2019-11-04  Not Holiday  2019     11    4        0
4      107 2019-11-05  Not Holiday  2019     11    5        0
..     ...        ...          ...   ...    ...  ...      ...
392    392 2020-11-26  Not Holiday  2020     11   26        0
393    393 2020-11-27  Not Holiday  2020     11   27        0
394    394 2020-11-28      Weekend  2020     11   28        1
395    395 2020-11-29      Weekend  2020     11   29        1
396    396 2020-11-30  Not Holiday  2020     11   30        0

[397 rows x 7 columns]

In [36]:
# save the dataset to a csv
hol.to_csv('holidays_final.csv', index=False)

In [37]:
# merge the final holidays dataset with the divvy + weather data
final_merged_data = merged_df.merge(hol, how='inner', on=['Year', 'Month', 'Day'])
# and drop the Date column
final_merged_data.drop("Date", axis=1, inplace=True)
final_merged_data

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,...,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,index,Holiday_Name,Weekend
0,25612325,2019-11-01 00:00:45,2019-11-01 00:08:10,Ellis Ave & 55th St,420.0,Harper Ave & 59th St,425.0,Subscriber,2019,11,...,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday,0
1,25612326,2019-11-01 00:01:13,2019-11-01 00:30:09,Western Ave & Winnebago Ave,116.0,Morgan St & Polk St,241.0,Customer,2019,11,...,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday,0
2,25612327,2019-11-01 00:01:42,2019-11-01 00:38:32,Western Ave & Winnebago Ave,116.0,May St & Taylor St,22.0,Subscriber,2019,11,...,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday,0
3,25612328,2019-11-01 00:02:24,2019-11-01 00:09:27,Lincoln Ave & Winona St,472.0,Maplewood Ave & Peterson Ave,455.0,Subscriber,2019,11,...,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday,0
4,25612329,2019-11-01 00:02:30,2019-11-01 00:04:09,Clinton St & Madison St,77.0,Clinton St & Washington Blvd,91.0,Subscriber,2019,11,...,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3807053,A4D50CAC9CCFB180,2020-10-20 01:51:54,2020-10-20 01:59:11,Kimbark Ave & 53rd St,322.0,Blackstone Ave & Hyde Park Blvd,121.0,member,2020,10,...,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday,0
3807054,2D551117FD01DCE1,2020-10-20 01:04:29,2020-10-20 01:19:33,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,...,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday,0
3807055,2D551117FD01DCE1,2020-10-20 01:04:29,2020-10-20 01:19:33,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,...,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday,0
3807056,09264F6A1F8E4CEE,2020-10-20 01:38:07,2020-10-20 01:48:04,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,...,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday,0
3807057,09264F6A1F8E4CEE,2020-10-20 01:38:07,2020-10-20 01:48:04,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,...,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday,0

In [38]:
# save the final resulting dataframe to a csv (serves as the unclean merged data)
final_merged_data.to_csv("final_merged_data.csv", index=False)

In [39]:
# drop the Weekend attribute
final_merged_data.drop("Weekend", axis=1, inplace=True)

# Data Cleaning

In [40]:
final_merged_data.shape

(3807058, 20)

In [41]:
final_merged_data

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,Day,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,index,Holiday_Name
0,25612325,2019-11-01 00:00:45,2019-11-01 00:08:10,Ellis Ave & 55th St,420.0,Harper Ave & 59th St,425.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
1,25612326,2019-11-01 00:01:13,2019-11-01 00:30:09,Western Ave & Winnebago Ave,116.0,Morgan St & Polk St,241.0,Customer,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
2,25612327,2019-11-01 00:01:42,2019-11-01 00:38:32,Western Ave & Winnebago Ave,116.0,May St & Taylor St,22.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
3,25612328,2019-11-01 00:02:24,2019-11-01 00:09:27,Lincoln Ave & Winona St,472.0,Maplewood Ave & Peterson Ave,455.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
4,25612329,2019-11-01 00:02:30,2019-11-01 00:04:09,Clinton St & Madison St,77.0,Clinton St & Washington Blvd,91.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3807053,A4D50CAC9CCFB180,2020-10-20 01:51:54,2020-10-20 01:59:11,Kimbark Ave & 53rd St,322.0,Blackstone Ave & Hyde Park Blvd,121.0,member,2020,10,20,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday
3807054,2D551117FD01DCE1,2020-10-20 01:04:29,2020-10-20 01:19:33,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807055,2D551117FD01DCE1,2020-10-20 01:04:29,2020-10-20 01:19:33,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,20,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday
3807056,09264F6A1F8E4CEE,2020-10-20 01:38:07,2020-10-20 01:48:04,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807057,09264F6A1F8E4CEE,2020-10-20 01:38:07,2020-10-20 01:48:04,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,20,1,44 F,79,9mph,0mph,0.0in,Cloudy,355,Not Holiday

In [42]:
# count number of duplicate rows and missing values in the dataframe
print("Number of duplicate rows: ", len(final_merged_data) - len(final_merged_data.drop_duplicates(subset='ride_id', keep='first')))
print("Number of rows with missing values: ", len(final_merged_data) - len(final_merged_data.dropna()))

Number of duplicate rows:  325240
Number of rows with missing values:  106490

In [43]:
# drop duplicate rows in the dataframe except the forst occurrence
cleaned_data = final_merged_data.drop_duplicates(subset='ride_id', keep='first')
cleaned_data

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,Day,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,index,Holiday_Name
0,25612325,2019-11-01 00:00:45,2019-11-01 00:08:10,Ellis Ave & 55th St,420.0,Harper Ave & 59th St,425.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
1,25612326,2019-11-01 00:01:13,2019-11-01 00:30:09,Western Ave & Winnebago Ave,116.0,Morgan St & Polk St,241.0,Customer,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
2,25612327,2019-11-01 00:01:42,2019-11-01 00:38:32,Western Ave & Winnebago Ave,116.0,May St & Taylor St,22.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
3,25612328,2019-11-01 00:02:24,2019-11-01 00:09:27,Lincoln Ave & Winona St,472.0,Maplewood Ave & Peterson Ave,455.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
4,25612329,2019-11-01 00:02:30,2019-11-01 00:04:09,Clinton St & Madison St,77.0,Clinton St & Washington Blvd,91.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3807048,23638F49B7E7D116,2020-10-20 01:23:37,2020-10-20 01:39:30,Racine Ave & 35th St,367.0,Racine Ave & 18th St,15.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807050,3048BAC5F769B4DD,2020-10-20 01:20:30,2020-10-20 01:36:44,Wells St & Evergreen Ave,291.0,Wabash Ave & Roosevelt Rd,59.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807052,A4D50CAC9CCFB180,2020-10-20 01:51:54,2020-10-20 01:59:11,Kimbark Ave & 53rd St,322.0,Blackstone Ave & Hyde Park Blvd,121.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807054,2D551117FD01DCE1,2020-10-20 01:04:29,2020-10-20 01:19:33,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807056,09264F6A1F8E4CEE,2020-10-20 01:38:07,2020-10-20 01:48:04,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday

In [44]:
# drop the NaN (missing) values from the dataframe
cleaned_data.dropna(inplace=True)
cleaned_data

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,Year,Month,Day,Hour,Temperature,Humidity,Wind Speed,Wind Gust,Precipitation,Condition,index,Holiday_Name
0,25612325,2019-11-01 00:00:45,2019-11-01 00:08:10,Ellis Ave & 55th St,420.0,Harper Ave & 59th St,425.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
1,25612326,2019-11-01 00:01:13,2019-11-01 00:30:09,Western Ave & Winnebago Ave,116.0,Morgan St & Polk St,241.0,Customer,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
2,25612327,2019-11-01 00:01:42,2019-11-01 00:38:32,Western Ave & Winnebago Ave,116.0,May St & Taylor St,22.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
3,25612328,2019-11-01 00:02:24,2019-11-01 00:09:27,Lincoln Ave & Winona St,472.0,Maplewood Ave & Peterson Ave,455.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
4,25612329,2019-11-01 00:02:30,2019-11-01 00:04:09,Clinton St & Madison St,77.0,Clinton St & Washington Blvd,91.0,Subscriber,2019,11,1,0,26 F,81,8 mph,0 mph,0.0 in,Fair,103,Not Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3807048,23638F49B7E7D116,2020-10-20 01:23:37,2020-10-20 01:39:30,Racine Ave & 35th St,367.0,Racine Ave & 18th St,15.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807050,3048BAC5F769B4DD,2020-10-20 01:20:30,2020-10-20 01:36:44,Wells St & Evergreen Ave,291.0,Wabash Ave & Roosevelt Rd,59.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807052,A4D50CAC9CCFB180,2020-10-20 01:51:54,2020-10-20 01:59:11,Kimbark Ave & 53rd St,322.0,Blackstone Ave & Hyde Park Blvd,121.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807054,2D551117FD01DCE1,2020-10-20 01:04:29,2020-10-20 01:19:33,Pine Grove Ave & Irving Park Rd,254.0,Glenwood Ave & Morse Ave,447.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday
3807056,09264F6A1F8E4CEE,2020-10-20 01:38:07,2020-10-20 01:48:04,St. Clair St & Erie St,211.0,Clark St & Armitage Ave,94.0,member,2020,10,20,1,44 F,79,8mph,0mph,0.0in,Cloudy,355,Not Holiday

In [45]:
cleaned_data.shape

(3384105, 20)

In [46]:
print("NUmber of rows dropped: ", final_merged_data.shape[0] - cleaned_data.shape[0])

NUmber of rows dropped:  422953

In [47]:
# save this dataframe to a csv file (serves as the cleaned data)
cleaned_data.to_csv('cleaned_data.csv', index=False)